<template lang="pug">
  .films-viewer
    Films
</template>

<script>
import Films from "@/components/Films";

export default {
  components: {
    Films
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/mixins.scss";

.films-viewer {
  height: 100%;

  background-color: $DARK;
}
</style>
