<template lang="pug">
  .people-viewer
    People
</template>

<script>
import People from "@/components/People";

export default {
  components: {
    People
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/mixins.scss";

.films-viewer {
  height: 100%;

  background-color: $DARK;
}
</style>
