<template lang="pug">
  .planets-viewer
    Planets
</template>

<script>
import Planets from "@/components/Planets";

export default {
  components: {
    Planets
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/mixins.scss";

.planets-viewer {
  height: 100%;

  background-color: $DARK;
}
</style>
