<template lang="pug">
  .species-viewer
    Species
</template>

<script>
import Species from "@/components/Species";

export default {
  components: {
    Species
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/mixins.scss";

.species-viewer {
  height: 100%;

  background-color: $DARK;
}
</style>
