<template lang="pug">
  .starships-viewer
    Starships
</template>

<script>
import Starships from "@/components/Starships";

export default {
  components: {
    Starships
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/mixins.scss";

.starships-viewer {
  height: 100%;

  background-color: $DARK;
}
</style>
