<template lang="pug">
  .vehicles-viewer
    Vehicles
</template>

<script>
import Vehicles from "@/components/Vehicles";

export default {
  components: {
    Vehicles
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/mixins.scss";

.vehicles-viewer {
  height: 100%;

  background-color: $DARK;
}
</style>
