<template lang="pug">
  .films
    .films__slogan
      router-link.films__slogan_link(to="/") star wars
    .films__search
      Search(:placeholder="placeholder" @searching="listenSearch")
    .films__wookiee
      span.films__wookiee_clanguage Current language:
      button.films__wookiee_switcher(v-if="switcherVisible" @click="switchWookiee") Switch to Wookiee
      button.films__wookiee_switcher(v-else @click="switchEngl") Switch to English
    .films__wrapper
      .films__content(v-for="(item, i) in filmsArray" :key="i")
        .films__content_name Name: {{ item.title }}
        .films__content_episode Episode: {{ item.episode }}
        .films__content_director Director(s): {{ item.director }}
        .films__content_producer Producer(s): {{ item.producer }}
        .films__content_release Release date: {{ item.release_date }}
        .films__full-descr
          .films__full-descr_title Description:
          .films__full-descr_text {{ item.description }}
        .films__tooltip
          input.films__tooltip_notice(placeholder="Leave your commemt..." v-model="filmsNotices[i+increaseCounter]")
          button.films__tooltip_ok(@click="saveNotice(i)") OK
    .films__paginator
      Pagination(:pages="pages" @pagination="currentPage")
</template>

<script>
import axios from "axios";
import Search from "@/components/Search.vue";
import Pagination from "@/components/Pagination.vue";

const FILMS_KEY = "bbtesttask_films";

export default {
  data: () => ({
    films: [],
    filmsNotices: [],
    loopValue: 0,
    pages: 1,
    placeholder: "Enter the name of the film",
    search: "",
    switcherVisible: true
  }),
  async created() {
    try {
      this.filmsNotices = JSON.parse(localStorage.getItem(FILMS_KEY) || "[]");
      const totalPages = await this.getFilmsCount();
      if (this.filmsNotices.length == 0) {
        this.filmsNotices = this.createArray(totalPages, null);
      }
    } catch (e) {
      //eslint-disable-next-line
      console.error(e);
    }
  },
  mounted() {
    this.getAllfilms();
    this.getFilmsCount();
  },
  methods: {
    async getAllfilms(n = 1) {
      try {
        if (this.switcherVisible) {
          const { data } = await axios.get(
            `https://swapi.co/api/films/?page=${n}`
          );
          let tempData = data.results;
          let pureData = [];
          tempData.forEach(item => {
            const {
              title,
              episode_id,
              opening_crawl,
              director,
              producer,
              release_date
            } = item;
            pureData.push({
              title: title,
              episode: episode_id,
              description: opening_crawl,
              director: director,
              producer: producer,
              release_date: release_date
            });
          });
          this.films = pureData.sort((a, b) => {
            if (a.episode > b.episode) {
              return 1;
            } else {
              return -1;
            }
          });
        } else {
          const { data } = await axios.get(
            `https://swapi.co/api/films/?format=wookiee&page=${n}`
          );
          /**
           * in wookiee result from API is in string format, not JSON
           */
          let strTempOne = data.substring(0, data.length - 3);
          let pre = strTempOne
            .split('"rcwochuanaoc":')[1]
            .substring(1, data.length - 2)
            .split("},");
          let pureData = [];
          pre.forEach(item => {
            let title = item.match(/"aoahaoanwo":"([^"]+)",/)[1];
            this.clearMemory(title);
            let episode = item.match(/"woakahcoowawo_ahwa":([0-9]+),/)[1];
            let description = item.match(
              /"ooakwowhahwhrr_oarcraohan":"([^"]+)",/
            )[1];
            this.clearMemory(description);
            let director = item.match(/"waahrcwooaaooorc":"([^"]+)",/)[1];
            this.clearMemory(director);
            let producer = item.match(/"akrcoowahuoaworc":"([^"]+)",/)[1];
            this.clearMemory(producer);
            let release_date = item.match(
              /"rcwoanworacwo_waraaowo":"([^"]+)",/
            )[1];
            pureData.push({
              title: title,
              episode: episode,
              description: description,
              director: director,
              producer: producer,
              release_date: release_date
            });
          });
          this.films = pureData.sort((a, b) => {
            if (a.episode > b.episode) {
              return 1;
            } else {
              return -1;
            }
          });
        }
      } catch (e) {
        //eslint-disable-next-line
        console.error(e);
      }
    },
    async getFilmsCount() {
      try {
        let { data } = await axios.get(`https://swapi.co/api/films/`);
        const preCount = data.count;
        const reduce = Math.ceil(preCount % 10);
        const count = preCount + (10 - reduce);
        this.pages = count;
        return this.pages;
      } catch (e) {
        //eslint-disable-next-line
        console.error(e);
      }
    },
    listenSearch(data) {
      this.search = data;
      return this.search;
    },
    currentPage(data) {
      let result;
      result = 10 * (data - 1);
      this.loopValue = result;
      this.getAllfilms(data);
    },
    saveNotice(ind) {
      let currentRangeStart = this.loopValue;
      let totalPosition = currentRangeStart + ind;
      for (let y = 0; y < this.filmsNotices; y++) {
        if (this.filmsNotices[y] === totalPosition) {
          this.filmsNotices[y] = this.filmsNotices[ind];
        }
      }
      localStorage.setItem(FILMS_KEY, JSON.stringify(this.filmsNotices));
    },
    switchWookiee() {
      this.switcherVisible = !this.switcherVisible;
      this.getAllfilms();
    },
    switchEngl() {
      this.switcherVisible = !this.switcherVisible;
      this.getAllfilms();
    },
    clearMemory(str) {
      return str.split("").join();
    },
    createArray(len, item) {
      let arr1 = [item],
        arr2 = [];
      while (len > 0) {
        if (len & 1) arr2 = arr2.concat(arr1);
        arr1 = arr1.concat(arr1);
        len >>>= 1;
      }
      return arr2;
    }
  },
  computed: {
    increaseCounter() {
      return this.loopValue;
    },
    filmsArray() {
      let result = this.films;
      return this.search.length > 0
        ? result.filter(item =>
            item.title.toLowerCase().includes(this.search.toLowerCase())
          )
        : result;
    }
  },
  watch: {
    search(val) {
      this.search = val;
    }
  },
  components: {
    Pagination,
    Search
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/mixins.scss";

.films {
  height: 100%;

  background-color: $DARK;

  &__slogan {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &_link {
      @include font-face("STARWARS", "../../public/fonts/STARWARS");
      font-family: "STARWARS";
      font-size: 76px;
      font-weight: bold;

      color: yellow;
      text-shadow: red 0 0 2px;
      text-transform: uppercase;
      text-decoration: none;

      @include phones600 {
        font-size: 55px;
      }

      @include phones500 {
        font-size: 35px;

        padding: 10px 0;
      }
    }
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    margin-bottom: 16px;
  }

  .films__wookiee {
    display: flex;
    justify-content: center;

    &_clanguage {
      margin-right: 10px;
      color: white;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .films__content {
      max-width: 390px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin: 20px;
      padding: 4px;

      border: 2px solid orange;

      color: white;

      &_name {
        margin-bottom: 5px;
      }
      &_episode {
        margin-bottom: 5px;
      }
      &_director {
        margin-bottom: 5px;
      }
      &_producer {
        margin-bottom: 5px;

        text-align: start;
      }
      &_release {
        margin-bottom: 5px;
      }
      .films__full-descr {
        margin-bottom: 5px;

        text-align: start;

        &_title {
          margin-bottom: 5px;
        }
      }
      .films__tooltip {
        display: flex;
        justify-content: center;
        align-self: center;

        margin-bottom: 5px;

        &_notice {
          width: 200px;

          &::placeholder {
            opacity: 0.5;
          }
        }
      }
      @include phones600 {
        font-size: 16px;
      }
      @include phones500 {
        font-size: 15px;
      }
      @include phones320 {
        font-size: 14px;
      }
    }
  }

  &__paginator {
    display: none;
  }
}
</style>
