<template lang="pug">
  .sw
    .sw__slogan star wars
    .sw__films-wrapper(v-for="(item,i) in starwars" :key="i")
      img.sw__films-wrapper_image(:src="item.src" :alt="item.title")
      router-link.link(:to="item.path") {{ item.title }}
</template>

<script>
export default {
  data: () => ({
    starwars: [
      {
        title: "Films",
        src: "/images/films.png",
        path: "/films"
      },
      {
        title: "People",
        src: "/images/people.png",
        path: "/people"
      },
      {
        title: "Planets",
        src: "/images/planet.png",
        path: "/planets"
      },
      {
        title: "Species",
        src: "/images/species.png",
        path: "/species"
      },
      {
        title: "Starships",
        src: "/images/starships.png",
        path: "/starships"
      },
      {
        title: "Vehicles",
        src: "/images/vehicles.png",
        path: "/vehicles"
      }
    ]
  })
};
</script>

<style lang="scss" scoped>
@import "../assets/mixins.scss";

.sw {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__slogan {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    @include font-face("STARWARS", "../../public/fonts/STARWARS");
    font-family: "STARWARS";
    font-size: 76px;
    font-weight: bold;

    color: yellow;
    text-shadow: red 0 0 2px;
    text-transform: uppercase;
    text-decoration: none;

    @include phones600 {
      font-size: 55px;
    }

    @include phones500 {
      font-size: 35px;

      padding: 10px 0;
    }
  }

  &__films-wrapper {
    display: flex;
    flex-direction: column;

    padding: 20px;

    &_image {
      @include allImagesSize;

      margin-bottom: 10px;

      border-radius: 25px;
      box-shadow: 1px 0px 8px wheat;
      &:hover {
        transform: scale(1.03);
        box-shadow: 1px 0px 8px red;
        transition: all 0.3s linear;

        @include phones600 {
          transform: scale(0.88);
        }
        @include phones500 {
          transform: scale(0.78);
        }
        @include phones320 {
          transform: scale(0.58);
        }
      }
      @include phones600 {
        margin-bottom: 0;

        transform: scale(0.85);
      }

      @include phones500 {
        transform: scale(0.75);
      }

      @include phones320 {
        transform: scale(0.55);
      }
    }

    @include phones600 {
      padding: 0;
      margin: -5px 0 0 0;
    }
    @include phones500 {
      margin-top: -35px;
    }
    @include phones320 {
      margin-top: -75px;
    }
  }
  .link {
    color: yellow;

    text-decoration: none;

    &:hover {
      color: #d63a25;
      transition: color 0.3s ease-in;
    }

    @include phones600 {
      margin-top: -15px;
    }

    @include phones320 {
      margin: -60px 0px 5px 0;
    }
  }
}
</style>
