<template lang="pug">
    .pagination
        .prev(@click="prevPage" :class="{inactive: !hasPrev}")
            span Previous page
        .page-nums(v-for="(page, i) in totalPages" :key="i")
            span.page-nums__number(@click="toPage(page)" :class="{current: page === currentPage}") {{ page }}
        .next(@click="nextPage" :class="{inactive: !hasNext}")
            span Next page
</template>

<script>
export default {
  data: () => ({
    currentPage: 1
  }),
  methods: {
    nextPage() {
      if (this.currentPage < this.pages) {
        this.currentPage++;
        this.$emit("pagination", this.currentPage);
      }
    },
    prevPage() {
      if (this.currentPage > 1) {
        this.currentPage--;
        this.$emit("pagination", this.currentPage);
      } else {
        return;
      }
    },
    toPage(val) {
      this.currentPage = val;
      this.$emit("pagination", this.currentPage);
    }
  },
  computed: {
    hasNext() {
      return this.currentPage < this.pages ? 1 : 0;
    },
    hasPrev() {
      return this.currentPage > 1 ? 1 : 0;
    },
    totalPages() {
      const recordsPerPage = 10;
      let currentPagination;
      try {
        currentPagination = Math.ceil(this.pages / recordsPerPage);
      } catch (e) {
        console.error(e);
      }
      return currentPagination;
    }
  },
  props: {
    pages: {
      type: Number,
      default: 1,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/mixins.scss";

.pagination {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;

  .prev,
  .next {
    width: 130px;

    padding: 5px;
    margin: 5px;

    border: 1px solid green;

    text-align: center;
    cursor: pointer;

    .inactive {
      opacity: 0.4;
    }
  }
  .page-nums {
    margin: 0 10px;
    &__number {
      margin-right: 5px;

      cursor: pointer;
    }
    .current {
      padding: 4px;

      border: 1px solid gold;
    }
  }
}
</style>
