<template lang="pug">
  .people
    .people__slogan
      router-link.people__slogan_link(to="/") star wars
    .people__search
      Search(:placeholder="placeholder" @searching="listenSearch")
    .people__wookiee
      span.people__wookiee_clanguage Current language:
      button.people__wookiee_switcher(v-if="switcherVisible" @click="switchWookiee") Switch to Wookiee
      button.people__wookiee_switcher(v-else @click="switchEngl") Switch to English
    .people__wrapper
      .people__content(v-for="(item, i) in peopleArray" :key="i")
        .people__content_name Name: {{ item.name }}
        .people__content_birth Birth year: {{ item.birth_year }}
        .people__content_eye Eye color: {{ item.eye_color }}
        .people__content_gender Gender: {{ item.gender }}
        .people__content_hair Hair color: {{ item.hair_color }}
        .people__content_height Height: {{ item.height }}
        .people__content_mass Mass: {{ item.mass }}
        .people__content_skin Skin color: {{ item.skin_color }}
        .people__content_homeworld Homeworld:
          .home {{ item.homeworld }}
        .people__content_movies Films:
          .movie-array {{ item.films }}
        .people__content_species Species:
          .specie-array {{ item.species }}
        .people__content_starships Starships:
          .starship-array {{ item.starships }}
        .people__content_vehicles Vehicles:
          .vehicle-array {{ item.vehicles }}
        .people__tooltip
          input.people__tooltip_notice(placeholder="Leave your commemt..." v-model="peopleNotices[i+increaseCounter]")
          button.people__tooltip_ok(@click="saveNotice(i)") OK
    .people__paginator
      Pagination(:pages="pages" @pagination="currentPage")
</template>

<script>
import axios from "axios";
import Search from "@/components/Search.vue";
import Pagination from "@/components/Pagination.vue";

const PEOPLE_KEY = "bbtesttask_people";

export default {
  data: () => ({
    loopValue: 0,
    people: [],
    peopleNotices: [],
    pages: 1,
    placeholder: "Enter the name of the human",
    search: "",
    switcherVisible: true
  }),
  async created() {
    try {
      this.peopleNotices = JSON.parse(localStorage.getItem(PEOPLE_KEY) || "[]");
      const totalPages = await this.getPeopleCount();
      if (this.peopleNotices.length == 0) {
        this.peopleNotices = this.createArray(totalPages, null);
      }
    } catch (e) {
      //eslint-disable-next-line
      console.error(e);
    }
  },
  mounted() {
    this.getAllpeople();
    this.getPeopleCount();
  },
  methods: {
    async getAllpeople(n = 1) {
      try {
        if (this.switcherVisible) {
          const { data } = await axios.get(
            `https://swapi.co/api/people/?page=${n}`
          );
          let tempData = data.results;
          let pureData = [];
          tempData.forEach(item => {
            const {
              name,
              birth_year,
              eye_color,
              gender,
              hair_color,
              height,
              mass,
              skin_color,
              homeworld,
              films,
              species,
              starships,
              vehicles
            } = item;
            pureData.push({
              name: name,
              birth_year: birth_year,
              eye_color: eye_color,
              gender: gender,
              hair_color: hair_color,
              height: height,
              mass: mass,
              skin_color: skin_color,
              homeworld: homeworld,
              films: films,
              species: species,
              starships: starships,
              vehicles: vehicles
            });
          });
          this.people = pureData;
        } else {
          const { data } = await axios.get(
            `https://swapi.co/api/people/?format=wookiee&page=${n}`
          );
          /**
           * in wookiee result from API is in string format, not JSON
           */
          let strTempOne = data.substring(0, data.length - 3);
          let pre = strTempOne
            .split('"rcwochuanaoc":')[1]
            .substring(1, data.length - 2)
            .split("},");
          let pureData = [];
          pre.forEach(item => {
            let name = item.match(/"whrascwo":"([^"]+)",/)[1];
            this.clearMemory(name);
            let birth_year = item.match(/"rhahrcaoac_roworarc":"([^"]+)",/)[1];
            let eye_color = item.match(/"corahwh_oaooanoorc":"([^"]+)",/)[1];
            let gender = item.match(/"worowo_oaooanoorc":"([^"]+)",/)[1];
            let hair_color = item.match(/"rrwowhwaworc":"([^"]+)",/)[1];
            let height = item.match(/"acwoahrracao":"([^"]+)",/)[1];
            let mass = item.match(/"scracc":"([^"]+)",/)[1];
            let skin_color = item.match(/"acraahrc_oaooanoorc":"([^"]+)",/)[1];
            let homeworld = item.match(/"acooscwoohoorcanwa":"([^"]+)",/)[1];
            let films = item.match(/"wwahanscc":([^>]+),"cakwooaahwoc/)[1];
            this.clearMemory(films);
            let preSpecies = item.match(
              /"caorarccacahakc":([^>]+),"oarcworaaowowa/
            )[1];
            let species = preSpecies.substring(1, preSpecies.length - 1);
            this.clearMemory(species);
            let starships = item.match(
              /"cakwooaahwoc":([^>]+),"howoacahoaanwoc/
            )[1];
            this.clearMemory(starships);
            let vehicles = item.match(
              /"howoacahoaanwoc":([^>]+),"caorarccacahakc/
            )[1];
            this.clearMemory(vehicles);

            pureData.push({
              name: name,
              height: height,
              mass: mass,
              birth_year: birth_year,
              eye_color: eye_color,
              gender: gender,
              hair_color: hair_color,
              skin_color: skin_color,
              homeworld: homeworld,
              films: films,
              species: species,
              starships: starships,
              vehicles: vehicles
            });
          });
          this.people = pureData.sort((a, b) => {
            if (a.name > b.name) {
              return 1;
            } else {
              return -1;
            }
          });
        }
      } catch (e) {
        //eslint-disable-next-line
        console.error(e);
      }
    },
    async getPeopleCount() {
      try {
        let { data } = await axios.get(`https://swapi.co/api/people/`);
        const preCount = data.count;
        const reduce = Math.ceil(preCount % 10);
        const count = preCount + (10 - reduce);
        this.pages = count;
        return this.pages;
      } catch (e) {
        //eslint-disable-next-line
        console.error(e);
      }
    },
    listenSearch(data) {
      this.search = data;
      return this.search;
    },
    currentPage(data = 1) {
      let result;
      result = 10 * (data - 1);
      this.loopValue = result;
      this.getAllpeople(data);
    },
    saveNotice(ind) {
      let currentRangeStart = this.loopValue;
      let totalPosition = currentRangeStart + ind;
      for(let y = 0; y < this.peopleNotices; y++) {
        if(this.peopleNotices[y] === totalPosition) {
          this.peopleNotices[y] = this.peopleNotices[ind];
        }
      }
      localStorage.setItem(PEOPLE_KEY, JSON.stringify(this.peopleNotices));
    },
    switchWookiee() {
      this.switcherVisible = !this.switcherVisible;
      this.getAllpeople();
    },
    switchEngl() {
      this.switcherVisible = !this.switcherVisible;
      this.getAllpeople();
    },
    clearMemory(str) {
      return str.split("").join();
    },
    createArray(len, item) {
      let arr1 = [item], arr2 = [];
      while (len > 0) {
        if (len & 1) arr2 = arr2.concat(arr1);
        arr1 = arr1.concat(arr1);
        len >>>= 1;
      }
      return arr2;
    }
  },
  computed: {
    increaseCounter() {
      return this.loopValue;
    },
    peopleArray() {
      let result = this.people;
      return this.search.length > 0
        ? result.filter(item =>
            item.name.toLowerCase().includes(this.search.toLowerCase())
          )
        : result;
    }
  },
  watch: {
    search(val) {
      this.search = val;
    }
  },
  components: {
    Pagination,
    Search
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/mixins.scss";

.people {
  height: 100%;

  background-color: $DARK;

  &__slogan {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &_link {
      @include font-face("STARWARS", "../../public/fonts/STARWARS");
      font-family: "STARWARS";
      font-size: 76px;
      font-weight: bold;

      color: yellow;
      text-shadow: red 0 0 2px;
      text-transform: uppercase;
      text-decoration: none;

      @include phones600 {
        font-size: 55px;
      }

      @include phones500 {
        font-size: 35px;

        padding: 10px 0;
      }
    }
  }

  &__search {
    display: flex;
    justify-content: center;

    margin-bottom: 16px;
  }

  .people__wookiee {
    display: flex;
    justify-content: center;

    &_clanguage {
      margin-right: 10px;
      color: white;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .people__content {
      max-width: 400px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      position: relative;

      margin: 20px;
      padding: 4px;

      border: 2px solid orange;

      color: white;

      &_name {
        margin-bottom: 5px;
      }
      &_birth {
        margin-bottom: 5px;
      }
      &_eye {
        margin-bottom: 5px;
      }
      &_gender {
        margin-bottom: 5px;

        text-align: start;
      }
      &_hair {
        margin-bottom: 5px;
      }
      &_height {
        margin-bottom: 5px;
      }
      &_mass {
        margin-bottom: 5px;
      }
      &_skin {
        margin-bottom: 5px;
      }
      &_homeworld {
        margin-bottom: 5px;

        text-align: start;
      }
      &_movies {
        min-width: 390px;

        margin-bottom: 5px;

        text-align: start;

        .movie-array {
          width: min-content;

          word-wrap: break-word;
        }
      }
      &_species {
        margin-bottom: 5px;

        text-align: start;

        .specie-array {
          word-wrap: break-word;
        }
      }
      &_starships {
        margin-bottom: 5px;

        text-align: start;

        .starship-array {
          word-wrap: break-word;
        }
      }
      &_vehicles {
        margin-bottom: 5px;

        text-align: start;

        .vehicle-array {
          margin-bottom: 30px;
          
          word-wrap: break-word;
        }
      }
      .people__tooltip {
        display: flex;
        justify-content: center;
        align-self: center;

        position: absolute;
        bottom: 0;

        margin-bottom: 5px;

        &_notice {
          width: 200px;

          &::placeholder {
            opacity: 0.5;
          }
        }
      }
      @include phones600 {
        font-size: 16px;

        max-width: 400px;
      }
      @include phones500 {
        font-size: 15px;

        max-width: 370px;
      }
      @include phones320 {
        font-size: 14px;

        max-width: 280px;
      }
    }
  }
}
</style>
