<template lang="pug">
  .planets
    .planets__slogan
      router-link.planets__slogan_link(to="/") star wars
    .planets__search
      Search(:placeholder="placeholder" @searching="listenSearch")
    .planets__wookiee
      span.planets__wookiee_clanguage Current language:
      button.planets__wookiee_switcher(v-if="switcherVisible" @click="switchWookiee") Switch to Wookiee
      button.planets__wookiee_switcher(v-else @click="switchEngl") Switch to English
    .planets__wrapper
      .planets__content(v-for="(item, i) in planetsArray" :key="i")
        .planets__content_name Name: {{ item.name }}
        .planets__content_diameter Diameter: {{ item.diameter }}
        .planets__content_rotation Rotation period: {{ item.rotation_period }}
        .planets__content_orbital Orbital period: {{ item.orbital_period }}
        .planets__content_gravity Gravity: {{ item.gravity }}
        .planets__content_population Population: {{ item.population }}
        .planets__content_climate Climate: {{ item.climate }}
        .planets__content_terrain Terrain: {{ item.terrain }}
        .planets__content_surface Surface: {{ item.surface_water }}
        .planets__content_residents Residents:
          .resident-array {{ item.residents }}
        .planets__content_movies Films:
          .movie-array {{ item.films }}
        .planets__tooltip
          input.planets__tooltip_notice(placeholder="Leave your commemt..." v-model="planetsNotices[i+increaseCounter]")
          button.planets__tooltip_ok(@click="saveNotice(i)") OK
    .planets__paginator
      Pagination(:pages="pages" @pagination="currentPage")
</template>

<script>
import axios from "axios";
import Search from "@/components/Search.vue";
import Pagination from "@/components/Pagination.vue";

const PLANETS_KEY = "bbtesttask_planets";

export default {
  data: () => ({
    loopValue: 0,
    planets: [],
    pages: 1,
    planetsNotices: [],
    placeholder: "Enter the name of the planet",
    search: "",
    switcherVisible: true
  }),
  mounted() {
    this.getAllplanets();
    this.getPlanetsCount();
  },
  async created() {
    try {
      this.planetsNotices = JSON.parse(
        localStorage.getItem(PLANETS_KEY) || "[]"
      );
      const totalPages = await this.getPlanetsCount();
      if (this.planetsNotices.length == 0) {
        this.planetsNotices = this.createArray(totalPages, null);
      }
    } catch (e) {
      //eslint-disable-next-line
      console.error(e);
    }
  },
  methods: {
    async getAllplanets(n = 1) {
      try {
        if (this.switcherVisible) {
          const { data } = await axios.get(
            `https://swapi.co/api/planets/?page=${n}`
          );
          let tempData = data.results;
          let pureData = [];
          tempData.forEach(item => {
            const {
              name,
              diameter,
              rotation_period,
              orbital_period,
              gravity,
              population,
              climate,
              terrain,
              surface_water,
              residents,
              films
            } = item;
            pureData.push({
              name: name,
              diameter: diameter,
              rotation_period: rotation_period,
              orbital_period: orbital_period,
              gravity: gravity,
              population: population,
              climate: climate,
              terrain: terrain,
              surface_water: surface_water,
              residents: residents,
              films: films
            });
          });
          this.planets = pureData.sort((a, b) => {
            if (a.name > b.name) {
              return 1;
            } else {
              return -1;
            }
          });
        } else {
          const { data } = await axios.get(
            `https://swapi.co/api/planets/?format=wookiee&page=${n}`
          );
          /**
           * in wookiee result from API is in string format, not JSON
           */
          let strTempOne = data.substring(0, data.length - 3);
          let pre = strTempOne
            .split('"rcwochuanaoc":')[1]
            .substring(1, data.length - 2)
            .split("},");
          let pureData = [];
          pre.forEach(item => {
            let name = item.match(/"whrascwo":"([^"]+)",/)[1];
            this.clearMemory(name);
            let diameter = item.match(/"waahrascwoaoworc":"([^"]+)",/)[1];
            let rotation_period = item.match(
              /"rcooaoraaoahoowh_akworcahoowa":"([^"]+)",/
            )[1];
            let orbital_period = item.match(
              /"oorcrhahaoraan_akworcahoowa":"([^"]+)",/
            )[1];
            let gravity = item.match(/"rrrcrahoahaoro":"([^"]+)",/)[1];
            let population = item.match(/"akooakhuanraaoahoowh":"([^"]+)",/)[1];
            let climate = item.match(/"oaanahscraaowo":"([^"]+)",/)[1];
            let terrain = item.match(/"aoworcrcraahwh":"([^"]+)",/)[1];
            let surface_water = item.match(
              /"churcwwraoawo_ohraaoworc":"([^"]+)",/
            )[1];
            let residents = item.match(/"rcwocahwawowhaoc":([^>]+),"wwahanscc/)[1];
            this.clearMemory(residents);
            let films = item.match(/"wwahanscc":([^>]+),"oarcworaaowowa/)[1];
            this.clearMemory(films);

            pureData.push({
              name,
              diameter,
              rotation_period,
              orbital_period,
              gravity,
              population,
              climate,
              terrain,
              surface_water,
              residents,
              films
            });
          });
          this.planets = pureData.sort((a, b) => {
            if (a.name > b.name) {
              return 1;
            } else {
              return -1;
            }
          });
        }
      } catch (e) {
        //eslint-disable-next-line
        console.error(e);
      }
    },
    async getPlanetsCount() {
      try {
        let { data } = await axios.get(`https://swapi.co/api/planets/`);
        const preCount = data.count;
        const reduce = Math.ceil(preCount % 10);
        const count = preCount + (10 - reduce);
        this.pages = count;
        return this.pages;
      } catch (e) {
        //eslint-disable-next-line
        console.error(e);
      }
    },
    listenSearch(data) {
      this.search = data;
      return this.search;
    },
    currentPage(data) {
      let result;
      result = 10 * (data - 1);
      this.loopValue = result;
      this.getAllplanets(data);
    },
    saveNotice(ind) {
      let currentRangeStart = this.loopValue;
      let totalPosition = currentRangeStart + ind;
      for(let y = 0; y < this.peopleNotices; y++) {
        if(this.planetsNotices[y] === totalPosition) {
          this.planetsNotices[y] = this.planetsNotices[ind];
        }
      }
      localStorage.setItem(PLANETS_KEY, JSON.stringify(this.planetsNotices));
    },
    switchWookiee() {
      this.switcherVisible = !this.switcherVisible;
      this.getAllplanets();
    },
    switchEngl() {
      this.switcherVisible = !this.switcherVisible;
      this.getAllplanets();
    },
    clearMemory(str) {
      return str.split("").join();
    },
    createArray(len, item) {
      let arr1 = [item], arr2 = [];
      while (len > 0) {
        if (len & 1) arr2 = arr2.concat(arr1);
        arr1 = arr1.concat(arr1);
        len >>>= 1;
      }
      return arr2;
    }
  },
  computed: {
    increaseCounter() {
      return this.loopValue;
    },
    planetsArray() {
      let result = this.planets;
      return this.search.length > 0
        ? result.filter(item =>
            item.name.toLowerCase().includes(this.search.toLowerCase())
          )
        : result;
    }
  },
  watch: {
    search(val) {
      this.search = val;
    }
  },
  components: {
    Pagination,
    Search
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/mixins.scss";

.planets {
  height: 100%;

  background-color: $DARK;

  &__slogan {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &_link {
      @include font-face("STARWARS", "../../public/fonts/STARWARS");
      font-family: "STARWARS";
      font-size: 76px;
      font-weight: bold;

      color: yellow;
      text-shadow: red 0 0 2px;
      text-transform: uppercase;
      text-decoration: none;

      @include phones600 {
        font-size: 55px;
      }

      @include phones500 {
        font-size: 35px;

        padding: 10px 0;
      }
    }
  }

  &__search {
    display: flex;
    justify-content: center;

    margin-bottom: 16px;
  }

  .planets__wookiee {
    display: flex;
    justify-content: center;

    &_clanguage {
      margin-right: 10px;
      color: white;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .planets__content {
      max-width: 390px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;

      margin: 20px;
      padding: 4px;

      border: 2px solid orange;

      color: white;

      &_name {
        margin-bottom: 5px;
      }
      &_diameter {
        margin-bottom: 5px;
      }
      &_rotation {
        margin-bottom: 5px;
      }
      &_orbital {
        margin-bottom: 5px;

        text-align: start;
      }
      &_gravity {
        margin-bottom: 5px;
      }
      &_population {
        margin-bottom: 5px;
      }
      &_climate {
        margin-bottom: 5px;
      }
      &_terrain {
        margin-bottom: 5px;
      }
      &_surface {
        margin-bottom: 5px;
      }
      &_residents {
        margin-bottom: 5px;

        text-align: start;

        .resident-array {
          word-wrap: break-word;
        }
      }
      &_movies {
        min-width: 390px;

        margin-bottom: 5px;

        text-align: start;

        .movie-array {
          margin-bottom: 30px;

          word-wrap: break-word;
        }
      }
      .planets__tooltip {
        display: flex;
        justify-content: center;
        align-self: center;

        position: absolute;
        bottom: 0;

        margin-bottom: 5px;

        &_notice {
          width: 200px;

          &::placeholder {
            opacity: 0.5;
          }
        }
      }
      @include phones600 {
        font-size: 16px;

        max-width: 400px;
      }
      @include phones500 {
        font-size: 15px;

        max-width: 370px;
      }
      @include phones320 {
        font-size: 14px;

        max-width: 280px;
      }
    }
  }
}
</style>
