<template lang="pug">
    .search
        input.search__block(:placeholder="placeholder" @input="searching" v-model="searchName")
</template>

<script>
export default {
  data: () => ({
    searchName: ''
  }),
  methods: {
    searching(e) {
      this.$emit("searching", e.target.value);
    }
  },
  props: {
    placeholder: {
      type: String,
      default: "enter name",
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.search {
    display: flex;
    
  &__block {
    width: 200px;

    padding: 5px;

    border-radius: 10px;
    outline: none;
    box-shadow: 2px 1px 6px yellow;

    &::placeholder {
      color: rgba(130, 133, 134, 0.5);
    }
  }
}
</style>
