<template lang="pug">
  .species
    .species__slogan
      router-link.species__slogan_link(to="/") star wars
    .species__search
      Search(:placeholder="placeholder" @searching="listenSearch")
    .species__wookiee
      span.species__wookiee_clanguage Current language:
      button.species__wookiee_switcher(v-if="switcherVisible" @click="switchWookiee") Switch to Wookiee
      button.species__wookiee_switcher(v-else @click="switchEngl") Switch to English
    .species__wrapper
      .species__content(v-for="(item, i) in speciesArray" :key="i")
        .species__content_name Name: {{ item.name }}
        .species__content_classification Classification: {{ item.classification }}
        .species__content_designation Designation: {{ item.designation }}
        .species__content_averageh Average height: {{ item.average_height }}
        .species__content_averagel Average lifespan: {{ item.average_lifespan }}
        .species__content_eye Eye colors: {{ item.eye_colors }}
        .species__content_hair Hair colors: {{ item.hair_colors }}
        .species__content_skin Skin colors:
          .skin {{ item.skin_colors }}
        .species__content_language Language: {{ item.language }}
        .species__content_homeworld Homeworld:
          .home {{ item.homeworld }}
        .species__content_people People:
          .people-array {{ item.people }}
        .species__content_movies Films:
          .movie-array {{ item.films }}
        .species__tooltip
          input.species__tooltip_notice(placeholder="Leave your commemt..." v-model="speciesNotices[i+increaseCounter]")
          button.species__tooltip_ok(@click="saveNotice(i)") OK
    .species__paginator
      Pagination(:pages="pages" @pagination="currentPage")
</template>

<script>
import axios from "axios";
import Search from "@/components/Search.vue";
import Pagination from "@/components/Pagination.vue";

const SPECIES_KEY = "bbtesttask_species";

export default {
  data: () => ({
    loopValue: 0,
    species: [],
    pages: 1,
    placeholder: "Enter the name of the specie",
    search: "",
    speciesNotices: [],
    switcherVisible: true
  }),
  mounted() {
    this.getAllspecies();
    this.getSpeciesCount();
  },
  async created() {
    try {
      this.speciesNotices = JSON.parse(
        localStorage.getItem(SPECIES_KEY) || "[]"
      );
      const totalPages = await this.getSpeciesCount();
      if (this.speciesNotices.length == 0) {
        this.speciesNotices = this.createArray(totalPages, null);
      }
    } catch (e) {
      //eslint-disable-next-line
      console.error(e);
    }
  },
  methods: {
    async getAllspecies(n = 1) {
      try {
        if (this.switcherVisible) {
          const { data } = await axios.get(`https://swapi.co/api/species/?page=${n}`);
          let tempData = data.results;
          let pureData = [];
          tempData.forEach(item => {
            const {
              name,
              classification,
              designation,
              average_height,
              average_lifespan,
              eye_colors,
              hair_colors,
              skin_colors,
              language,
              homeworld,
              people,
              films
            } = item;
            pureData.push({
              name: name,
              classification: classification,
              designation: designation,
              average_height: average_height,
              average_lifespan: average_lifespan,
              eye_colors: eye_colors,
              hair_colors: hair_colors,
              skin_colors: skin_colors,
              language: language,
              homeworld: homeworld,
              people: people,
              films: films
            });
          });
          this.species = pureData.sort((a, b) => {
            if (a.name > b.name) {
              return 1;
            } else {
              return -1;
            }
          });
        }
        else {
          const { data } = await axios.get(
            `https://swapi.co/api/species/?format=wookiee&page=${n}`
          );
          /**
           * in wookiee result from API is in string format, not JSON
           */
          let strTempOne = data.substring(0, data.length - 3);
          let pre = strTempOne
            .split('"rcwochuanaoc":')[1]
            .substring(1, data.length - 2)
            .split("},");
          let pureData = [];
          pre.forEach(item => {
            let name = item.match(/"whrascwo":"([^"]+)",/)[1];
            this.clearMemory(name);
            let classification = item.match(/"oaanraccahwwahoaraaoahoowh":"([^"]+)",/)[1];
            let designation = item.match(
              /"wawocahrrwhraaoahoowh":"([^"]+)",/
            )[1];
            let average_height = item.match(
              /"rahoworcrarrwo_acwoahrracao":"([0-9]+)",/
            )[1];
            let average_lifespan = item.match(/"acraahrc_oaooanoorcc":"([^"]+)",/)[1];
            let eye_colors = item.match(/"worowo_oaooanoorcc":"([^"]+)",/)[1];
            let hair_colors = item.match(/"anrawhrrhurarrwo":"([^"]+)",/)[1];
            let skin_colors = item.match(/"corahwh_oaooanoorcc":"([^"]+)",/)[1];
            let language = item.match(
              /"anrawhrrhurarrwo":"([^"]+)",/
            )[1];
            let homeworld = item.match(/"acooscwoohoorcanwa":([^>]+),"wwahanscc/)[1];
            this.clearMemory(homeworld);
            let people = item.match(/"wwahanscc":([^>]+),"oarcworaaowowa/)[1];
            this.clearMemory(people);
            let films = item.match(/"wwahanscc":([^>]+),"oarcworaaowowa/)[1];
            this.clearMemory(films);

            pureData.push({
              name: name,
              classification: classification,
              designation: designation,
              average_height: average_height,
              average_lifespan: average_lifespan,
              eye_colors: eye_colors,
              hair_colors: hair_colors,
              skin_colors: skin_colors,
              language: language,
              homeworld: homeworld,
              people: people,
              films: films
            });
          });
          this.species = pureData.sort((a, b) => {
            if (a.name > b.name) {
              return 1;
            } else {
              return -1;
            }
          });
        }
      } catch (e) {
        //eslint-disable-next-line
        console.error(e);
      }
    },
    async getSpeciesCount() {
      try {
        let { data } = await axios.get(
          `https://swapi.co/api/species/`
        );
        const preCount = data.count;
        const reduce = Math.ceil((preCount % 10));
        const count = preCount + (10 - reduce);
        this.pages = count;
        return this.pages;
      }
      catch(e){
        //eslint-disable-next-line
        console.error(e);
      }
    },
    listenSearch(data) {
      this.search = data;
      return this.search;
    },
    currentPage(data) {
      let result;
      result = 10 * (data - 1);
      this.loopValue = result;
      this.getAllspecies(data);
    },
    saveNotice(ind) {
      let currentRangeStart = this.loopValue;
      let totalPosition = currentRangeStart + ind;
      for(let y = 0; y < this.peopleNotices; y++) {
        if(this.speciesNotices[y] === totalPosition) {
          this.speciesNotices[y] = this.speciesNotices[ind];
        }
      }
      localStorage.setItem(SPECIES_KEY, JSON.stringify(this.speciesNotices));
    },
    switchWookiee() {
      this.switcherVisible = !this.switcherVisible;
      this.getAllspecies();
    },
    switchEngl() {
      this.switcherVisible = !this.switcherVisible;
      this.getAllspecies();
    },
    clearMemory(str) {
      return str.split("").join();
    },
    createArray(len, item) {
      let arr1 = [item], arr2 = [];
      while (len > 0) {
        if (len & 1) arr2 = arr2.concat(arr1);
        arr1 = arr1.concat(arr1);
        len >>>= 1;
      }
      return arr2;
    }
  },
  computed: {
    increaseCounter() {
      return this.loopValue;
    },
    speciesArray() {
      let result = this.species;
      return this.search.length > 0
        ? result.filter(item => item.name.toLowerCase().includes(this.search.toLowerCase()))
        : result;
    }
  },
  watch: {
    search(val) {
      this.search = val;
    }
  },
  components: {
    Pagination,
    Search
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/mixins.scss";

.species {
  height: 100%;

  background-color: $DARK;

  &__slogan {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &_link {
      @include font-face("STARWARS", "../../public/fonts/STARWARS");
      font-family: "STARWARS";
      font-size: 76px;
      font-weight: bold;

      color: yellow;
      text-shadow: red 0 0 2px;
      text-transform: uppercase;
      text-decoration: none;

      @include phones600 {
        font-size: 55px;
      }

      @include phones500 {
        font-size: 35px;

        padding: 10px 0;
      }
    }
  }

  &__search {
    display: flex;
    justify-content: center;

    margin-bottom: 16px;
  }

  .species__wookiee {
    display: flex;
    justify-content: center;

    &_clanguage {
      margin-right: 10px;
      color: white;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .species__content {
      max-width: 390px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      position: relative;

      margin: 20px;
      padding: 4px;

      border: 2px solid orange;

      color: white;

      &_name {
        margin-bottom: 5px;
      }
      &_classification {
        margin-bottom: 5px;
      }
      &_designation {
        margin-bottom: 5px;
      }
      &_averageh {
        margin-bottom: 5px;

        text-align: start;
      }
      &_averagel {
        margin-bottom: 5px;

        text-align: start;
      }
      &_eye {
        margin-bottom: 5px;
      }
      &_hair {
        margin-bottom: 5px;
      }
      &_skin {
        margin-bottom: 5px;

        text-align: start;
      }
      &_language {
        margin-bottom: 5px;

        text-align: start;
      }
      &_homeworld {
        margin-bottom: 5px;

        text-align: start;

        .home {
          word-wrap: break-word;
        }
      }
      &_people {
        min-width: 390px;
        
        margin-bottom: 5px;

        text-align: start;

        .people-array {
          word-wrap: break-word;
        }
      }
      &_movies {
        min-width: 390px;
        
        margin-bottom: 5px;

        text-align: start;

        .movie-array {
          width: min-content;
          
          margin-bottom: 30px;

          word-wrap: break-word;
        }
      }
      .species__tooltip {
        display: flex;
        justify-content: center;
        align-self: center;

        position: absolute;
        bottom: 0;

        margin-bottom: 5px;

        &_notice {
          width: 200px;

          &::placeholder {
            opacity: 0.5;
          }
        }
      }
      @include phones600 {
        font-size: 16px;

        max-width: 400px;
      }
      @include phones500 {
        font-size: 15px;

        max-width: 370px;
      }
      @include phones320 {
        font-size: 14px;

        max-width: 280px;
      }
    }
  }
}
</style>
