<template lang="pug">
  .starships
    .starships__slogan
      router-link.starships__slogan_link(to="/") star wars
    .starships__search
      Search(:placeholder="placeholder" @searching="listenSearch")
    .starships__wookiee
      span.starships__wookiee_clanguage Current language:
      button.starships__wookiee_switcher(v-if="switcherVisible" @click="switchWookiee") Switch to Wookiee
      button.starships__wookiee_switcher(v-else @click="switchEngl") Switch to English
    .starships__wrapper
      .starships__content(v-for="(item, i) in starshipsArray" :key="i")
        .starships__content_name Name:
          .name {{ item.name }}
        .starships__content_model Model:
          .model {{ item.model }}
        .starships__content_starship Starship class:
          .ss-class {{ item.starship_class }}
        .starships__content_manufacturer Manufacturer: {{ item.manufacturer }}
        .starships__content_cost Cost: {{ item.cost_in_credits }}
        .starships__content_length Length: {{ item.length }}
        .starships__content_crew Crew: {{ item.crew }}
        .starships__content_passengers Passengers: {{ item.passengers }}
        .starships__content_maxatspeed Max atmosphering speed: {{ item.max_atmosphering_speed }}
        .starships__content_hyperdrive Hyperdrive rating: {{ item.hyperdrive_rating }}
        .starships__content_mglt MGLT: {{ item.MGLT }}
        .starships__content_cargo Cargo capacity: {{ item.cargo_capacity }}
        .starships__content_consumables Consumables: {{ item.consumables }}
        .starships__content_pilots Pilots:
          .pilots {{ item.pilots }}
        .starships__content_films Films:
          .movie-array {{ item.films }}
        .starships__tooltip
          input.starships__tooltip_notice(placeholder="Leave your commemt..." v-model="starshipsNotices[i+increaseCounter]")
          button.starships__tooltip_ok(@click="saveNotice(i)") OK
    .starships__paginator
      Pagination(:pages="pages" @pagination="currentPage")
</template>

<script>
import axios from "axios";
import Search from "@/components/Search.vue";
import Pagination from "@/components/Pagination.vue";

const STARSHIP_KEY = "bbtesttask_starships";

export default {
  data: () => ({
    loopValue: 0,
    starships: [],
    pages: 1,
    placeholder: "Enter the name of the starship",
    search: "",
    starshipsNotices: [],
    switcherVisible: true
  }),
  mounted() {
    this.getAllstarships();
    this.getStarshipsCount();
  },
  async created() {
    try {
      this.starshipsNotices = JSON.parse(
        localStorage.getItem(STARSHIP_KEY) || "[]"
      );
      const totalPages = await this.getStarshipsCount();
      if (this.starshipsNotices.length == 0) {
        this.starshipsNotices = this.createArray(totalPages, null);
      }
    } catch (e) {
      //eslint-disable-next-line
      console.error(e);
    }
  },
  methods: {
    async getAllstarships(n = 1) {
      try {
        if (this.switcherVisible) {
          let { data } = await axios.get(
            `https://swapi.co/api/starships/?page=${n}`
          );
          let tempData = data.results;
          let pureData = [];
          tempData.forEach(item => {
            const {
              name,
              model,
              starship_class,
              manufacturer,
              cost_in_credits,
              length,
              crew,
              passengers,
              max_atmosphering_speed,
              hyperdrive_rating,
              MGLT,
              cargo_capacity,
              consumables,
              pilots,
              films
            } = item;
            pureData.push({
              name: name,
              model: model,
              starship_class: starship_class,
              manufacturer: manufacturer,
              cost_in_credits: cost_in_credits,
              length: length,
              crew: crew,
              passengers: passengers,
              max_atmosphering_speed: max_atmosphering_speed,
              hyperdrive_rating: hyperdrive_rating,
              MGLT: MGLT,
              cargo_capacity: cargo_capacity,
              consumables: consumables,
              pilots: pilots,
              films: films
            });
          });
          this.starships = pureData.sort((a, b) => {
            if (a.name > b.name) {
              return 1;
            } else {
              return -1;
            }
          });
        } else {
          const { data } = await axios.get(
            `https://swapi.co/api/starships/?format=wookiee&page=${n}`
          );
          /**
           * in wookiee result from API is in string format, not JSON
           */
          let strTempOne = data.substring(0, data.length - 3);
          let pre = strTempOne
            .split('"rcwochuanaoc":')[1]
            .substring(1, data.length - 2)
            .split("},");
          let pureData = [];
          pre.forEach(item => {
            let name = item.match(/"whrascwo":"([^"]+)",/)[1];
            this.clearMemory(name);
            let model = item.match(/"scoowawoan":"([^"]+)",/)[1];
            this.clearMemory(model);
            let starship_class = item.match(
              /"scrawhhuwwraoaaohurcworc":"([^"]+)",/
            )[1];
            this.clearMemory(starship_class);
            let manufacturer = item.match(
              /"caorarccacahak_oaanracc":"([^"]+)",/
            )[1];
            this.clearMemory(manufacturer);
            let cost_in_credits = item.match(
              /"oaoocao_ahwh_oarcwowaahaoc":"([^"]+)",/
            )[1];
            let length = item.match(/"anwowhrraoac":"([^"]+)",/)[1];
            let crew = item.match(/"akraccwowhrrworcc":"([^"]+)",/)[1];
            let passengers = item.match(/"oarcwooh":"([^"]+)",/)[1];
            let max_atmosphering_speed = item.match(
              /"scrak_raaoscoocakacworcahwhrr_cakwowowa":"([^"]+)",/
            )[1];
            let hyperdrive_rating = item.match(
              /"acroakworcwarcahhowo_rcraaoahwhrr":"([0-9.]+)",/
            )[1];
            let MGLT = item.match(/"MGLT":"([0-9]+)",/)[1];
            let cargo_capacity = item.match(
              /"oararcrroo_oaraakraoaahaoro":"([0-9]+)",/
            )[1];
            let consumables = item.match(
              /"oaoowhchuscrarhanwoc":([^>]+)","acroakworcwarcahhowo_rcraaoahwhrr/
            )[1];
            this.clearMemory(consumables);
            let pilots = item.match(/"akahanooaoc":([^>]+),"wwahanscc/)[1];
            this.clearMemory(pilots);
            let films = item.match(/"wwahanscc":([^>]+),"oarcworaaowowa/)[1];
            this.clearMemory(films);

            pureData.push({
              name: name,
              model: model,
              starship_class: starship_class,
              manufacturer: manufacturer,
              cost_in_credits: cost_in_credits,
              length: length,
              crew: crew,
              passengers: passengers,
              max_atmosphering_speed: max_atmosphering_speed,
              hyperdrive_rating: hyperdrive_rating,
              MGLT: MGLT,
              cargo_capacity: cargo_capacity,
              consumables: consumables,
              pilots: pilots,
              films: films
            });
          });
          this.starships = pureData.sort((a, b) => {
            if (a.name > b.name) {
              return 1;
            } else {
              return -1;
            }
          });
        }
      } catch (e) {
        //eslint-disable-next-line
        console.error(e);
      }
    },
    async getStarshipsCount() {
      try {
        let { data } = await axios.get(`https://swapi.co/api/starships/`);
        const preCount = data.count;
        const reduce = Math.ceil(preCount % 10);
        const count = preCount + (10 - reduce);
        this.pages = count;
        return this.pages;
      } catch (e) {
        //eslint-disable-next-line
        console.error(e);
      }
    },
    listenSearch(data) {
      this.search = data;
      return this.search;
    },
    currentPage(data) {
      let result;
      result = 10 * (data - 1);
      this.loopValue = result;
      this.getAllstarships(data);
    },
    saveNotice(ind) {
      let currentRangeStart = this.loopValue;
      let totalPosition = currentRangeStart + ind;
      for (let y = 0; y < this.peopleNotices; y++) {
        if (this.starshipsNotices[y] === totalPosition) {
          this.starshipsNotices[y] = this.starshipsNotices[ind];
        }
      }
      localStorage.setItem(STARSHIP_KEY, JSON.stringify(this.starshipsNotices));
    },
    switchWookiee() {
      this.switcherVisible = !this.switcherVisible;
      this.getAllstarships();
    },
    switchEngl() {
      this.switcherVisible = !this.switcherVisible;
      this.getAllstarships();
    },
    clearMemory(str) {
      return str.split("").join();
    },
    createArray(len, item) {
      let arr1 = [item],
        arr2 = [];
      while (len > 0) {
        if (len & 1) arr2 = arr2.concat(arr1);
        arr1 = arr1.concat(arr1);
        len >>>= 1;
      }
      return arr2;
    }
  },
  computed: {
    increaseCounter() {
      return this.loopValue;
    },
    starshipsArray() {
      let result = this.starships;
      return this.search.length > 0
        ? result.filter(item =>
            item.name.toLowerCase().includes(this.search.toLowerCase())
          )
        : result;
    }
  },
  watch: {
    search(val) {
      this.search = val;
    }
  },
  components: {
    Pagination,
    Search
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/mixins.scss";

.starships {
  height: 100%;

  background-color: $DARK;

  &__slogan {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &_link {
      @include font-face("Starwars", "../../public/fonts/STARWARS");
      font-family: "Starwars";
      font-size: 76px;
      font-weight: bold;

      color: yellow;
      text-shadow: red 0 0 2px;
      text-transform: uppercase;
      text-decoration: none;

      @include phones600 {
        font-size: 55px;
      }

      @include phones500 {
        font-size: 35px;

        padding: 10px 0;
      }
    }
  }

  &__search {
    display: flex;
    justify-content: center;

    margin-bottom: 16px;
  }

  .starships__wookiee {
    display: flex;
    justify-content: center;

    &_clanguage {
      margin-right: 10px;
      color: white;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .starships__content {
      max-width: 390px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      position: relative;

      margin: 20px;
      padding: 4px;

      border: 2px solid orange;

      color: white;

      &_name {
        margin-bottom: 5px;

        text-align: start;
      }
      &_model {
        margin-bottom: 5px;

        text-align: start;
      }
      &_starship {
        margin-bottom: 5px;

        text-align: start;
      }
      &_manufacturer {
        margin-bottom: 5px;

        text-align: start;
      }
      &_cost {
        margin-bottom: 5px;
      }
      &_length {
        margin-bottom: 5px;
      }
      &_crew {
        margin-bottom: 5px;
      }
      &_passengers {
        margin-bottom: 5px;
      }
      &_maxatspeed {
        margin-bottom: 5px;
      }
      &_hyperdrive {
        margin-bottom: 5px;

        text-align: start;
      }
      &_mglt {
        min-width: 390px;

        margin-bottom: 5px;

        text-align: start;
      }
      &_cargo {
        min-width: 390px;

        margin-bottom: 5px;

        text-align: start;
      }
      &_consumables {
        min-width: 390px;

        margin-bottom: 5px;

        text-align: start;
      }
      &_pilots {
        min-width: 390px;

        margin-bottom: 5px;

        text-align: start;

        .pilots {
          word-wrap: break-word;
        }
      }
      &_films {
        min-width: 390px;

        margin-bottom: 5px;

        text-align: start;

        .movie-array {
          width: min-content;
          
          margin-bottom: 30px;

          word-wrap: break-word;
        }
      }
      .starships__tooltip {
        display: flex;
        justify-content: center;
        align-self: center;

        position: absolute;
        bottom: 0;

        margin-bottom: 5px;

        &_notice {
          width: 200px;

          &::placeholder {
            opacity: 0.5;
          }
        }
      }
      @include phones600 {
        font-size: 16px;

        max-width: 400px;
      }
      @include phones500 {
        font-size: 15px;

        max-width: 370px;
      }
      @include phones320 {
        font-size: 14px;

        max-width: 280px;
      }
    }
  }
}
</style>
