<template lang="pug">
  .vehicles
    .vehicles__slogan
      router-link.vehicles__slogan_link(to="/") star wars
    .vehicles__search
      Search(:placeholder="placeholder" @searching="listenSearch")
    .vehicles__wookiee
      span.vehicles__wookiee_clanguage Current language:
      button.vehicles__wookiee_switcher(v-if="switcherVisible" @click="switchWookiee") Switch to Wookiee
      button.vehicles__wookiee_switcher(v-else @click="switchEngl") Switch to English
    .vehicles__wrapper
      .vehicles__content(v-for="(item, i) in vehiclesArray" :key="i")
        .vehicles__content_name Name: {{ item.name }}
        .vehicles__content_model Model:
          .model {{ item.model }}
        .vehicles__content_vehicle Vehicle class: {{ item.vehicle_class }}
        .vehicles__content_manufacturer Manufacturer:
          .manufacturer {{ item.manufacturer }}
        .vehicles__content_cost Cost: {{ item.cost_in_credits }}
        .vehicles__content_length Length: {{ item.length }}
        .vehicles__content_crew Crew: {{ item.crew }}
        .vehicles__content_passengers Passengers: {{ item.passengers }}
        .vehicles__content_maxatspeed Max atmosphering speed: {{ item.max_atmosphering_speed }}
        .vehicles__content_cargo Cargo capacity: {{ item.cargo_capacity }}
        .vehicles__content_consumables Consumables: {{ item.consumables }}
        .vehicles__content_pilots Pilots:
          .pilots {{ item.pilots }}
        .vehicles__content_films Films:
          .movie-array {{ item.films }}
        .vehicles__tooltip
          input.vehicles__tooltip_notice(placeholder="Leave your commemt..." v-model="vehiclesNotices[i+increaseCounter]")
          button.vehicles__tooltip_ok(@click="saveNotice(i)") OK
    .vehicles__paginator
      Pagination(:pages="pages" @pagination="currentPage")
</template>

<script>
import axios from "axios";
import Search from "@/components/Search.vue";
import Pagination from "@/components/Pagination.vue";

const VEHICLE_KEY = "bbtesttask_vehicles";

export default {
  data: () => ({
    loopValue: 0,
    vehicles: [],
    pages: 1,
    placeholder: "Enter the name of the vehicle",
    search: "",
    vehiclesNotices: [],
    switcherVisible: true
  }),
  mounted() {
    this.getAllvehicles();
    this.getVehiclesCount();
  },
  async created() {
    try {
      this.vehiclesNotices = JSON.parse(
        localStorage.getItem(VEHICLE_KEY) || "[]"
      );
      const totalPages = await this.getVehiclesCount();
      if (this.vehiclesNotices.length == 0) {
        this.vehiclesNotices = this.createArray(totalPages, null);
      }
    } catch (e) {
      //eslint-disable-next-line
      console.error(e);
    }
  },
  methods: {
    async getAllvehicles(n = 1) {
      try {
        if (this.switcherVisible) {
          let { data } = await axios.get(
            `https://swapi.co/api/vehicles/?page=${n}`
          );
          let tempData = data.results;
          let pureData = [];
          tempData.forEach(item => {
            const {
              name,
              model,
              vehicle_class,
              manufacturer,
              cost_in_credits,
              length,
              crew,
              passengers,
              max_atmosphering_speed,
              cargo_capacity,
              consumables,
              pilots,
              films
            } = item;
            pureData.push({
              name: name,
              model: model,
              vehicle_class: vehicle_class,
              manufacturer: manufacturer,
              cost_in_credits: cost_in_credits,
              length: length,
              crew: crew,
              passengers: passengers,
              max_atmosphering_speed: max_atmosphering_speed,
              cargo_capacity: cargo_capacity,
              consumables: consumables,
              pilots: pilots,
              films: films
            });
          });
          this.vehicles = pureData.sort((a, b) => {
            if (a.name > b.name) {
              return 1;
            } else {
              return -1;
            }
          });
        } else {
          const { data } = await axios.get(
            `https://swapi.co/api/vehicles/?format=wookiee&page=${n}`
          );
          /**
           * in wookiee result from API is in string format, not JSON
           */
          let strTempOne = data.substring(0, data.length - 3);
          let pre = strTempOne
            .split('"rcwochuanaoc":')[1]
            .substring(1, data.length - 2)
            .split("},");
          let pureData = [];
          pre.forEach(item => {
            let name = item.match(/"whrascwo":"([^"]+)",/)[1];
            this.clearMemory(name);
            let model = item.match(/"scoowawoan":"([^"]+)",/)[1];
            this.clearMemory(model);
            let vehicle_class = item.match(
              /"scrawhhuwwraoaaohurcworc":"([^"]+)",/
            )[1];
            this.clearMemory(vehicle_class);
            let manufacturer = item.match(
              /"howoacahoaanwo_oaanracc":"([^"]+)",/
            )[1];
            this.clearMemory(manufacturer);
            let cost_in_credits = item.match(
              /"oaoocao_ahwh_oarcwowaahaoc":"([^"]+)","anwowhrraoac/
            )[1];
            let length = item.match(/"anwowhrraoac":"([^"]+)",/)[1];
            let crew = item.match(/"akraccwowhrrworcc":"([^"]+)",/)[1];
            let passengers = item.match(/"oarcwooh":"([^"]+)",/)[1];
            let max_atmosphering_speed = item.match(
              /"scrak_raaoscoocakacworcahwhrr_cakwowowa":"([^"]+)",/
            )[1];
            let cargo_capacity = item.match(
              /"oararcrroo_oaraakraoaahaoro":"([^"]+)","oaoowhchuscrarhanwoc/
            )[1];
            let consumables = item.match(
              /"oaoowhchuscrarhanwoc":"([^>]+)","howoacahoaanwo_oaanracc/
            )[1];
            this.clearMemory(consumables);
            let pilots = item.match(/"akahanooaoc":([^>]+),"wwahanscc/)[1];
            this.clearMemory(pilots);
            let films = item.match(/"wwahanscc":([^>]+),"oarcworaaowowa/)[1];
            this.clearMemory(films);

            pureData.push({
              name: name,
              model: model,
              vehicle_class: vehicle_class,
              manufacturer: manufacturer,
              cost_in_credits: cost_in_credits,
              length: length,
              crew: crew,
              passengers: passengers,
              max_atmosphering_speed: max_atmosphering_speed,
              cargo_capacity: cargo_capacity,
              consumables: consumables,
              pilots: pilots,
              films: films
            });
          });
          this.vehicles = pureData.sort((a, b) => {
            if (a.name > b.name) {
              return 1;
            } else {
              return -1;
            }
          });
        }
      } catch (e) {
        //eslint-disable-next-line
        console.error(e);
      }
    },
    async getVehiclesCount() {
      try {
        let { data } = await axios.get(`https://swapi.co/api/vehicles/`);
        const preCount = data.count;
        const reduce = Math.ceil(preCount % 10);
        const count = preCount + (10 - reduce);
        this.pages = count;
        return this.pages;
      } catch (e) {
        //eslint-disable-next-line
        console.error(e);
      }
    },
    listenSearch(data) {
      this.search = data;
      return this.search;
    },
    currentPage(data) {
      let result;
      result = 10 * (data - 1);
      this.loopValue = result;
      this.getAllvehicles(data);
    },
    saveNotice(ind) {
      let currentRangeStart = this.loopValue;
      let totalPosition = currentRangeStart + ind;
      for (let y = 0; y < this.peopleNotices; y++) {
        if (this.vehiclesNotices[y] === totalPosition) {
          this.vehiclesNotices[y] = this.vehiclesNotices[ind];
        }
      }
      localStorage.setItem(VEHICLE_KEY, JSON.stringify(this.vehiclesNotices));
    },
    switchWookiee() {
      this.switcherVisible = !this.switcherVisible;
      this.getAllvehicles();
    },
    switchEngl() {
      this.switcherVisible = !this.switcherVisible;
      this.getAllvehicles();
    },
    clearMemory(str) {
      return str.split("").join();
    },
    createArray(len, item) {
      let arr1 = [item],
        arr2 = [];
      while (len > 0) {
        if (len & 1) arr2 = arr2.concat(arr1);
        arr1 = arr1.concat(arr1);
        len >>>= 1;
      }
      return arr2;
    }
  },
  computed: {
    increaseCounter() {
      return this.loopValue;
    },
    vehiclesArray() {
      let result = this.vehicles;
      return this.search.length > 0
        ? result.filter(item =>
            item.name.toLowerCase().includes(this.search.toLowerCase())
          )
        : result;
    }
  },
  watch: {
    search(val) {
      this.search = val;
    }
  },
  components: {
    Pagination,
    Search
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/mixins.scss";

.vehicles {
  height: 100%;

  background-color: $DARK;

  &__slogan {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &_link {
      @include font-face("Starwars", "../../public/fonts/STARWARS");
      font-family: "Starwars";
      font-size: 76px;
      font-weight: bold;

      color: yellow;
      text-shadow: red 0 0 2px;
      text-transform: uppercase;
      text-decoration: none;

      @include phones600 {
        font-size: 55px;
      }

      @include phones500 {
        font-size: 35px;

        padding: 10px 0;
      }
    }
  }

  &__search {
    display: flex;
    justify-content: center;

    margin-bottom: 16px;
  }

  .vehicles__wookiee {
    display: flex;
    justify-content: center;

    &_clanguage {
      margin-right: 10px;
      color: white;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .vehicles__content {
      max-width: 390px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      position: relative;

      margin: 20px;
      padding: 4px;

      border: 2px solid orange;

      color: white;

      &_name {
        margin-bottom: 5px;
      }
      &_model {
        margin-bottom: 5px;

        text-align: start;
      }
      &_starship {
        margin-bottom: 5px;
      }
      &_manufacturer {
        margin-bottom: 5px;

        text-align: start;
      }
      &_cost {
        margin-bottom: 5px;
      }
      &_length {
        margin-bottom: 5px;
      }
      &_crew {
        margin-bottom: 5px;
      }
      &_passengers {
        margin-bottom: 5px;
      }
      &_maxatspeed {
        margin-bottom: 5px;
      }
      &_mglt {
        min-width: 390px;

        margin-bottom: 5px;

        text-align: start;
      }
      &_cargo {
        min-width: 390px;

        margin-bottom: 5px;

        text-align: start;
      }
      &_consumables {
        min-width: 390px;

        margin-bottom: 5px;

        text-align: start;
      }
      &_pilots {
        min-width: 390px;

        margin-bottom: 5px;

        text-align: start;
      }
      &_films {
        min-width: 390px;

        margin-bottom: 5px;

        text-align: start;

        .movie-array {
          width: min-content;

          margin-bottom: 30px;

          word-wrap: break-word;
        }
      }
      .vehicles__tooltip {
        display: flex;
        justify-content: center;
        align-self: center;

        position: absolute;
        bottom: 0;

        margin-bottom: 5px;

        &_notice {
          width: 200px;

          &::placeholder {
            opacity: 0.5;
          }
        }
      }
      @include phones600 {
        font-size: 16px;

        max-width: 400px;
      }
      @include phones500 {
        font-size: 15px;

        max-width: 370px;
      }
      @include phones320 {
        font-size: 14px;

        max-width: 280px;
      }
    }
  }
}
</style>
