$DARK: #2c3e50;

@mixin font-face($font-family, $font-file) {
    @font-face {
      font-family: $font-family;
      src: url($font-file+".ttf") format("truetype");
    }
  }

@mixin allImagesSize {
  width: 500px;
  height: 338px;
}

@mixin phones600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin phones500 {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin phones320 {
  @media (min-width: 320px) and (max-width: 414px) {
    @content;
  }
}