<template lang="pug">
  #app
    router-view
</template>

<script>
export default {
  beforeCreate() {
    document.body.style = "margin: 0; background-color: #2c3e50";
  }
}
</script>


<style lang="scss" scoped>
@import "../src/assets/mixins.scss";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: $DARK;
  height: 100%;
}
</style>
